
.header {
display: inline-block;
float: left;
width: 100%;
margin: 0 0;}
.header .logo {
display: inline-block;
width: 5%;
margin: 0%}
.header .logo img{
width: 300%}
.flag {
width: 15%;
margin-right: auto;
display: inline-block;
float: right;}
.flag img{
width: 70%}
.info {
margin-right: 10px
width: 20%;
display: inline-block;
float: right;}
.information {
width: 100%;
display: inline-block;}
.information .admin{
font-family: Comic Sans MS, Comic Sans, cursive;
display: inline-block;
color: #00cc00;
width: 40%;}
.phone {
color: #00cc00;}
.email {
color: #00cc00;}
.menu {
text-align: center;}
.button{
display: inline-block;
text-decoration: none;
font-family: Comic Sans MS, Comic Sans, cursive;
font-size: 25;
background: #00cc00;
padding: 1%;
border-radius: 50px;
color: black;
transition: 0.3s ease-out;}
.button:hover {
background-color: #006400;}
.prod {
text-align: center;}
.tovary {
display: inline-block;}
.tovary img{
width: 100%}
.tovar {
width: 35%;
font-weight: 700;
text-decoration: none;
color: White;
text-transform: uppercase;
letter-spacing: 1.6px;
display: inline-block;
border-width: 2px;
border-color: #FFF;
border-style: solid;
border-radius: 50px;
padding-top: 8px;
padding-bottom: 8px;
padding-right: 23px;
padding-left: 23px;}
.tovar:hover {
color: #000000;
background-color: #fff;}
.text {
font-family: Comic Sans MS, Comic Sans, cursive;
color: #00cc00;
width: 25%}
.container {
width: 1100px;
margin-right: auto;
margin-left: auto;}
.col-4 {
width: 40%;
height: auto;
text-align: center;
margin-right: 100px;
margin-top: 20px;
float: left;}
.img img {
width: 100%;
height: 40%;}
.text {
height: auto;
text-align: center;
width: 100%;}
.buy {
font-weight: 700;
text-decoration: none;
color: White;
text-transform: uppercase;
letter-spacing: 1.6px;
display: inline-block;
border-width: 2px;
border-color: #FFF;
border-style: solid;
border-radius: 50px;
padding-top: 8px;
padding-bottom: 8px;
padding-right: 23px;
padding-left: 23px;}
.buy:hover {
color: #000000;
background-color: #fff;}
hr {
border: none;
background: #00cc00;
height: 2px;
position: relative;}
.zakaz {
text-align: center;	width: 50%;
background: moccasin;}
.infobuy {
display: inline-block;
width: 50%;}
.name, .surname, .patronymic, .mail, .telephone, .city, .address {
float: left;
margin-bottom: 5px;}
.buy2 {
font-weight: 700;
text-decoration: none;
color: black;
text-transform: uppercase;
letter-spacing: 1.6px;
display: inline-block;
border-width: 2px;
border-color: black;
border-style: solid;
border-radius: 50px;
padding-top: 8px;
padding-bottom: 8px;
padding-right: 23px;
padding-left: 23px;
margin-bottom: 10px;}
.buy2:hover {
color: #000000;
background-color: #fff;}
.thankyou {
width: 40%;
float: left;}
.text2 {
color: White;
text-align: center;}
.nazad {
text-align: center;}
.intex {
width: 100%}
.intex img{
width: 100%}
